body {
  background-color: white;
}
h1 {
  text-align: center;
}
button {
  align-self: center;
  vertical-align: middle;
  border-radius: 4px;
  padding: 10px 24px;
}
input.changer {
  align-self: center;
  align-content: center;
  vertical-align: middle;
  border-radius: 15px;
  padding: 3px 7px;
}
.centered {
  position: absolute;
  left: 50%;
  top: 20%;
  border-top: 200px;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  height: 50px;
}
.dyn:hover {
    animation: color-change 2s infinite;
}
@keyframes color-change {
  0% { color:crimson; }
  33% { color:rgb(0, 202, 61); }
  67% { color: rgb(14, 2, 236); }
  100% { color:crimson; }
}
#copyConfirm {
    visibility:hidden;
}